body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: Arial, sans-serif;
}

#services,
#about,
#gallery,
#supporter,
#contact {
  padding-top: 3rem;
}

/* BAGIAN NAVBAR */
.headernav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  transition: 0.8s;
  top: 20px;
  left: 50%;
  width: 98%;
  transform: translateX(-50%);
  padding: 20px 6px;
  border: 1px solid #f7f7f7;
  box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70, 70, 70, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #eee;
}

.headernav.scrolled {
  top: 0;
  width: 99.88%;
  transition: 0.8s;
}
header .logo {
  margin: 5px auto;
  height: 50px;
  line-height: 25px;
  box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70, 70, 70, 0.15);
  padding: 2px 15px;
  border-radius: 10px;
  transition: all 0.4s;
  border: 1px solid #f7f7f7;
  cursor: pointer;
}

#longlogo,
#squarelogo {
  height: 100%;
}

#squarelogo {
  display: none;
}
.logo:hover {
  background: #ffffff;
  box-shadow: inset -7px -7px 17px #fff, inset 7px 7px 17px rgba(70, 70, 70, 0.15);
}

.navbar-link {
  margin: 5px auto;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70, 70, 70, 0.15);
  overflow: hidden;
  background-color: #eee;
}
li {
  list-style: none;
}

#crnav {
  display: none;
  text-align: center;
  font-weight: bolder;
  color: #23abff;
}
li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  color: #23abff;
}
li a:hover,
li a.active {
  background: #23abff;
  color: #fff;
}

li a:active {
  box-shadow: inset -7px -7px 17px rgb(126, 171, 247), inset 7px 7px 17px rgba(70, 70, 70, 0.15);
}
.menu-toggle {
  color: #24f8f5;
  float: right;
  height: 50px;
  line-height: 25px;
  margin: auto;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
  padding: 10px 20px;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70, 70, 70, 0.15);
}
.menu-toggle:active {
  box-shadow: inset -7px -7px 17px #fff, inset 7px 7px 17px rgba(70, 70, 70, 0.15);
}

/* BAGIAN JUMBOTRON */
#jumbotron {
  width: 97%;
  margin: auto;
  margin-top: 160px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(185, 184, 184), -10px -10px 10px rgb(185, 184, 184);
}

#jumbotron img {
  width: 100%;
  border-radius: 8px;
}

/* BAGIAN SERVICES */
#foristiq {
  width: 97%;
}

/* BAGIAN BLOG */
.blog-tron {
  width: 100%;
  border-radius: 5px;
  box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgba(70, 70, 70, 0.441);
}

.neu-con {
  box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgba(70, 70, 70, 0.441);
  border-radius: 5px;
}

.neu-button {
  box-shadow: -3px -3px 5px #fff, 3px 3px 5px rgba(6, 6, 6, 0.283);
  color: #2459f8;
  font-weight: bolder;
}

.neu-button:hover {
  color: #00fffb;
  box-shadow: -3px -3px 5px #fff, 3px 3px 5px rgba(1, 1, 1, 0.15), inset -3px -3px 5px #fff, inset 3px 3px 5px rgba(1, 1, 1, 0.15);
}

.neu-button:focus {
  outline: none !important;
  box-shadow: inset -7px -7px 17px #fff, inset 7px 7px 12px rgba(70, 70, 70, 0.15);
}

/* BAGIAN SOURCES */
.subsource-con {
  width: 150px;
  box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgba(70, 70, 70, 0.441);
  border-radius: 3px;
}

.source-con-image {
  width: 100%;
}

.source-con-text {
  color: rgb(6, 197, 99);
}

/* INI ADALAH BAGIAN ABOUT */
.portfolio-image {
  width: 80%;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 4px;
  border: 4px solid rgb(255, 252, 252);
  box-shadow: -3px -3px 6px rgb(6, 6, 6, 0.283), 3px 3px 5px rgba(6, 6, 6, 0.283);
}

/* INI ADALAH GALLERY */
#con-gallery {
  position: relative;
  column-count: 5;
}

.gallery-images {
  display: inline-block;
  overflow: hidden;
  margin: 7px;
  box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgba(70, 70, 70, 0.441);
}

.gallery-images:hover {
  transition: 0.7s;
  transform: scale(1.1);
}
.gallery-images img {
  width: 100%;
}

/* INI ADALAH BAGIAN SUPPORTER */
.supporter-image {
  width: 100%;
}

/* INI ADALAH BAGIAN CONTACT */
.form-field {
  border: none;
  outline: none;
  background: none;
  border-radius: 25px;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #ffffff;
}

.chat-button {
  font-size: 70px;
  margin: auto;
}

.chat-icon:hover {
  color: cyan !important;
}

.form-field:focus {
  outline: none;
  background-color: #eee;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #ffffff;
}
/* INI ADALAH BAGIAN SIDEBAR */
/* INI ADALAH BAGIAN CLOCK */
.con-clock {
  width: 100%;
  position: relative;
}

.clock {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/clock.png);
  background-size: cover;
  border: 4x solid #fff;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.05), inset 0 15px 15px rgba(0, 0, 0, 0.05);
}

.clock::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 100;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour,
.hr {
  width: 90px;
  height: 90px;
}
.clock .min,
.mn {
  width: 110px;
  height: 110px;
}
.clock .sec,
.sc {
  width: 120px;
  height: 120px;
}
.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 45px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60px;
  background: #10ff38;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 70px;
  background: cyan;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.text-info {
  font-family: "Yomogi", cursive;
  font-size: 12px;
}
/* INI ADALAH BAGIAN LOGO */
#bottom-logo {
  display: block;
  margin: auto;
  width: 50%;
}

/* INI ADALAH BAGIAN FOOTER */
#footer {
  background-color: rgb(8, 103, 138);
}
.image-logo-footer {
  width: 50px;
  height: 50px;
}

.owner-logo {
  border: 2px solid white;
}
.donate-image {
  width: 50px;
  height: 50px;
}

.donate-text {
  font-size: 7px;
}
/* LAPTOP VIEW */
@media (max-width: 1200px) {
  #con-email-form {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .sub-con-supporter:nth-child(2) {
    margin-top: 16px;
  }
}
/* NOTEBOOK VIEW */
@media (max-width: 768px) {
  #con-portfolio {
    width: 200px;
    margin: auto;
  }

  .con-supporter {
    width: 300px;
  }

  #time-sidebar {
    margin-top: 50px;
  }
  #clock-sidebar {
    width: 98%;
    margin: auto;
  }
}
/* TABLET VIEW */
@media (max-width: 640px) {
  header {
    padding: 5px 20px;
  }
  .menu-toggle {
    display: block;
  }
  nav {
    position: absolute;
    visibility: hidden;
    top: 60px;
    opacity: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    transition: 0.4s;
  }
  nav.active {
    opacity: 1;
    visibility: visible;
  }
  ul {
    display: block;
    text-align: center;
    width: 100%;
    margin: 30px auto;
  }
  li {
    padding: 5px 0;
  }
  #crnav {
    display: block;
  }
  li a {
    width: 80%;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid #f7f7f7;
    box-shadow: -7px -7px 17px rgba(255, 255, 255, 0.6), 7px 7px 17px rgba(70, 70, 70, 0.15);
    /* border-bottom: 1px solid rgba(0,0,0,.2); */
  }
  #con-gallery {
    column-count: 3;
  }
}

/* MOBILE VIEW */
@media (max-width: 450px) {
  .headernav {
    top: 0;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 6px;
  }
  #con-gallery {
    column-count: 1;
  }

  .term-copyright-text {
    text-align: center;
  }
  .con-supporter {
    width: 90%;
    margin: 4px;
  }

  .sub-con-supporter {
    width: 100%;
  }
}

@media (max-width: 408px) {
  .headernav.scrolled {
    padding-bottom: 5px;
  }

  header .logo {
    margin-left: 0;
  }
  #longlogo {
    display: none;
  }

  #squarelogo {
    display: block;
  }
}
