* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: rgb(243, 251, 252);
	overflow-x: hidden;
}


/* NAVBAR & HEADER */
.container-navbar{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 30px;
    position: fixed;
    top: 0;
	background-color: rgb(243, 251, 252);
	height: 70px;
	z-index: 99;
}

.container-navbar.scrolled{
	transition: all 0.7s;
	background-color: rgb(233, 240, 242);
	border-bottom: 1px solid rgb(213, 216, 216);
	height: 40px;
	padding: 10px 0;
}

.logo a{
	font-family: 'Ranchers', cursive;
	color: rgb(48, 48, 131);
	text-decoration: none;
}

.tombol-neu{
	box-shadow: -2px -2px 5px 0  rgb(244, 249, 250), 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.tombol-neu:active{
	box-shadow: inset -3px -3px 8px 0 rgba(255, 255, 255, 0.823), inset 3px 3px 8px rgba(0, 0, 0, 0.2);
}

nav{
	width: 70%;
	display: flex;
	justify-content: space-between;
	justify-content: flex-end;
}

.navlink-list{
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	width: 65%;
}

.navbar-dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-menu{
	display: none;
	position: absolute;
}

.list-materiusaha{
	margin-top: 20px;
	background-color: rgb(243, 251, 252);
	
}

.navbar-dropdown:hover .dropdown-menu{
	display: block;
	min-width: 230px;
}

.logo-captionbrand{
	display: none;
}

#logo-usahamandiriku{
	height: 120px;
	width: 100px;
	background-size: cover;
	margin: auto;
	margin-bottom: 3px;
	position: relative;
	z-index: -1;
}

#slogan-usahamandiriku{
	color: green;
	font-weight: bolder;
}

.navmenu, .navbar-link, .dropdown, .list-materiusaha{
	height: 34px;
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: rgb(77, 77, 78);
	padding: 1px 7px;
	border-radius: 5px;
}

.navbar-link:hover,.list-materiusaha:hover, .dropdown:hover{
	color: rgb(13, 13, 196);
}

.dropdown, .kolomcari, .tombol-cari, .navmenu{
	display: block;
	border: none;
	outline: none;
	height: 37px;
}
.dropdown{
	background-color: transparent;
}

.navbar-link, .list-materiusaha{
	text-decoration: none;
	line-height: 34px;
}

.search-container{
	display: flex;
}




.kolomcari{
	box-shadow: inset -3px -3px 8px 0 rgba(255, 255, 255, 0.823), inset 3px 3px 8px rgba(0, 0, 0, 0.2);
	padding-left: 10px;
	height: 33px;
	border: 1px solid rgba(146, 151, 146, 0.371);
	border-radius: 15px;
}

.tombol-cari{
	height: 35px;
	border-radius: 15px;
	margin-left: -30px;
	position: relative;
	color: white;
	padding: 0 5px;
	background-color: cornflowerblue;

}

.tombol-cari:hover{
	background-color: rgb(87, 97, 241);
}

.tombol-cari:active{
	box-shadow: inset -3px -3px 8px 0 rgba(50, 94, 241, 0.823), inset 3px 3px 8px rgba(0, 0, 0, 0.207);
	
}

.navmenu{
	display: none;
	height: 34px;
	color: blue;
	font-size: larger;
	font-weight: bold;
	padding: 5px;
	border: none;
	position: relative;
}

/* JUMBOTRON  */

.jumbotron-materi{
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 150px;
}

.jumbotron-materi img{
    width: 49%;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
}
.sub-judul{
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 80px;
	color: rgb(77, 75, 75);
	font-family: 'Bebas Neue', cursive;


}


/* RESEP MAKANAN */
.container-resepmakanan{
	width: 95%;
	margin: auto;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}
.subcontainer-resepmakanan1{
	width: 75%;
	border: 1px solid rgb(168, 237, 211);
	padding: 10px;
	padding-left: 15px;
	box-shadow: 1px 1px 3px grey, -1px 0 3px grey;
}

.subjudul-crm1{
	font-size: 40px;
	color: rgb(14, 102, 90);
	margin-bottom: 15px;
	font-family: 'Fjalla One', sans-serif;
}

.list-resepmakanan1{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.resep-makanan1{
	width: 180px;
	align-self: baseline;
	margin-bottom: 20px;
	padding: 5px;
	padding-bottom: 10px;
	border:  1px solid rgb(185, 223, 248);
	background-color: rgb(230, 252, 248);
	box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
}

.resep-makanan1 img{
	width: 100%;
	margin-bottom: 10px;
	border-radius: 1px;
	box-shadow: 1px 1px 3px grey, -1px -1px 3px grey;
}

.resep-makanan1 a{
	
	text-decoration: none;
	font-size: 20px;
	font-weight: bolder;
	color: rgb(93, 139, 23);
}

.subcontainer-resepmakanan2{
	width: 20%;
	max-height: 600px;
	padding: 10px;
	border:  1px solid rgb(185, 223, 248);
	box-shadow: 1px 1px 3px grey, -1px -1px 3px grey;
}

.subjudul-crm2{
	color: rgb(14, 102, 90);
	margin-bottom: 5px;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
}

.subcontainer-resepmakanan2 ul {
	padding-left: 30px;
}

.subcontainer-resepmakanan2 ul li{
	
	border-radius: 3px;
	color: rgb(93, 139, 23);
	margin-bottom: 4px;
}
.subcontainer-resepmakanan2 ul a{
	text-decoration: none;
	font-weight: bolder;
	color: rgb(93, 139, 23);
	display: block;
	padding: 5px;
}









/* HALAMAN TERKAIT */

.container-halamant{
	width: 60%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.subcon-halamant{
	display: flex;
	margin-top: 20px;
}

.subcon-halamant img{
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

.text-halamant h3{
	margin-top: 10px;
	color: rgb(52, 49, 49);
}

.text-halamant p{
	font-size: 10px;
	font-weight: bolder;
	color: grey;
}

.slogan-brand{
	text-align: center;
	margin-top: 100px;
	margin-bottom:80px;
}

.slogan-brand img{
	width: 130px;
	height: 160px;
}

.slogan-brand p{
	color: green;
	font-weight: bold;
}

.container-footer{
	padding: 20px;
	background-color: black;
	text-align: center;
	color: wheat;
}

.container-footer p a{
	text-decoration: none;
	color: skyblue;
}




















/* UKURAN TABLET and LANSCAPE*/
@media screen and (max-width: 1000px){

	.logo h1{
		font-size: 25px;
	}

	.navlink-list{
		width: 70%;
	}

	.container-contentslider{
		width: 50%;
	}

	.subcontainer-resepmakanan1{
		width: 100%;
		margin: auto;
	}
	
	.subcontainer-resepmakanan2{
		display: none;
	}

}







/* UKURAN MOBILE */


/* NAVBAR & HEADER */
@media screen and (max-width: 670px){
	.container-navbar{
		justify-content: space-evenly;
		padding-top: 0;
	}

	.navmenu{
		display:block;
	}

	.logo, .navmenu{
		margin: auto;
	}


	nav{
		height: 100vh;
		width: 100%;
		position: absolute;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		z-index: -1;
		transform: translateX(-100%);
		transition: all 1s;
		background-color: rgb(233, 240, 242);
	}

	.container.navbar.slide{
		background-color:  rgb(243, 251, 252);
	}

	nav.slide{
		transform: translateX(0);
		height: 100vh;
		
	}

	.list-materiusaha{
		position: relative;
		z-index: 1;
	}

	.logo-captionbrand{
		display: flex;
		flex-direction: column;
	}

	.navmenu{
		display: block;
		background-color: transparent;
    }

    .jumbotron-materi{
        flex-direction: column;
    }

    .jumbotron-materi img{
        width: 400px;
        margin: 5px;
    }
}